{% extends "gestao_estoque/base.html" %}
{% block title %}Painel Principal{% endblock %}

{% block content %}
    <h2>Interface Principal do Sistema</h2>
    <p>Bem-vindo ao sistema de estoque, **{{ user.get_full_name|default:user.username }}**.</p>
    
    <h3>Opções:</h3>
    <ul>
        <li><a href="{% url 'cadastro_produto' %}">Ir para Cadastro de Produto</a></li>
        <li><a href="{% url 'gestao_estoque' %}">Ir para Gestão de Estoque</a></li>
    </ul>

    <p style="margin-top: 50px; border-top: 1px solid #000; padding-top: 10px;">
        * Navegue usando os links acima.
    </p>
{% endblock %}