{% extends "gestao_estoque/base.html" %}
{% block title %}Gestão de Estoque{% endblock %}

{% block content %}
    <h2>Gestão de Estoque</h2>
    
    <div style="border: 1px solid #000; padding: 10px; margin-bottom: 20px; background-color: #fff; float: right; width: 40%;">
        <h3>Registro de Movimentação</h3>
        <p>Use o Admin para cadastrar Movimentação.</p>
        <a href="/admin/gestao_estoque/movimentacaoestoque/add/">[Ir para Adicionar Movimentação]</a>
    </div>

    <div style="width: 50%;">
        <h3>Produtos em Ordem Alfabética</h3>
        <ul style="list-style-type: square; margin-left: 20px; padding-left: 0;">
            {% for produto in produtos %}
                <li>**{{ produto.nome }}** (Estoque: {{ produto.estoque_atual }}) - Mín: {{ produto.estoque_minimo }}</li>
            {% empty %}
                <li>*Nenhum produto cadastrado.*</li>
            {% endfor %}
        </ul>
    </div>
    <div style="clear: both;"></div>

    <h3 style="margin-top: 30px; color: #336699;">Últimas Movimentações Registradas</h3>
    
    <table class="table-style">
        <thead>
            <tr>
                <th>Produto</th>
                <th>Tipo</th>
                <th>Quantidade</th>
                <th>Data</th>
                <th>Usuário</th>
            </tr>
        </thead>
        <tbody>
            {% for mov in movimentacoes %}
            <tr>
                <td>{{ mov.produto.nome }}</td>
                <td>{{ mov.get_tipo_movimentacao_display }}</td>
                <td>{{ mov.quantidade }}</td>
                <td>{{ mov.data_movimentacao }}</td>
                <td>{{ mov.usuario.username|default:"N/A" }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5">Nenhuma movimentação registrada.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}